
<mat-form-field class="p-5">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">

</mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 p-5">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Full Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef>User Name</th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element"> {{element.address.street}} </td>
      <!-- <td mat-cell *matCellDef="let element"> {{element.address.suite}} </td>
      <td mat-cell *matCellDef="let element"> {{element.address.city}} </td>
      <td mat-cell *matCellDef="let element"> {{element.address.zipcode}} </td>
      <td mat-cell *matCellDef="let element"> {{element.address.geo.lat}} </td>
      <td mat-cell *matCellDef="let element"> {{element.address.geo.lng}} </td> -->
    <!-- </ng-container> -->

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button
         class="btn btn-secondary"
         mat-raised-button
         (click)="getEmployeeDetails(element.id)">
         Edit
        </button>
        <button class="btn btn-danger"
         mat-raised-button
         (click)="onDelete(element.id)">
         Delete</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
